.sidebar {
  height: calc(100vh - var(--header-height));
  width: 400px;
  border-right: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
}

.sidebar-header,
.sidebar-footer {
  height: 50px;
}

.sidebar-header {
  border-bottom: 1px solid var(--border-color);
}

.sidebar-footer {
  border-top: 1px solid var(--border-color);
}
