.route-list-container {
  flex: 1;
  height: calc(100vh - 160px);
  overflow: scroll;
  width: 100%;
}

.route-list-container.is-active .route-list-item {
  /* opacity: 1;
  transform: translateY(0); */
}

.route-list-item {
  background: white;
  color: black;
  font-size: 12px;
  height: 80px;
  opacity: 0;
  text-align: left;
  padding: 18px 20px;
  position: relative;
}

.route-list-item:hover {
  cursor: pointer;
}

.route-list-item:hover .bar{
  width: 15px;
}

.route-list-item .bar {
  content: '';
  width: 8px;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .4;
  transition: width .3s ease;
}

@keyframes slideIn {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.route-list-item:not(:last-child) {
  border-bottom: 1px solid var(--border-color);
}

.route-list-item__tag {

}

.route-list-item__title {
  line-height: 40px;
}

.route-list-item-enter {
  opacity: 0.01;
}

.route-list-item-enter.route-list-item-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}
